@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}    

body{
    background-color: #999;
}

h1{
    font-size: 1.6rem;
    text-align: center;
    color: white;
    font-weight: 300;
    
} 

h1 span {
    font-weight: 700;
    margin-right: 10px;
}


.header {
 padding: 4vh;
 background-image: linear-gradient(to right, #277639, #8BC448 ); 
}  


/* card  de login para pc */
@media screen and (min-width: 1024px) {
    .card-login {
        padding: .5rem;
        display: flex;
        align-self: left;
        justify-content: center; 
        margin-top: 18vh; 
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), 80%, rgba(0, 0, 0, 0.5)), url('/capitulo/assets/image/banner\ ci21\(1\).jpg'); 
        background-size:auto;
        background-position: right;
        
    }  
}


/* card de login para mobile */
@media screen and (max-width: 767px) {
    .card-login {

        display: flex;
        align-self: center;
        justify-content: center; 
        margin-top: 5vh; 
         
    }  
}

/* card de login para tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

.form-login{
    display: grid;   
    background-image: linear-gradient(to top);
    background-color: #eee; 
    padding: 6rem; 
    border-radius: 1.8rem; 
    margin: 2.5rem; 
    background-color: ;
} 

.input {
    margin-bottom: .5rem; 
    padding: .3rem; 
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: .3rem;
    border: solid 2px white; 

} 

