@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

body {

    background-color: #eee;
}

h1 {
    font-size: .5rem;
    text-align: center;
    color: white;
    font-weight: 300;
}

h1 span {
    font-weight: 700;
    margin-right: 10px;
}


.header {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1vh;
    background-image: linear-gradient(to right, #277639, #8BC448);  
    margin-bottom: 3vh;   
} 

.header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1vh; 
    background-image: linear-gradient(to right, #277639, #8BC448);  
    margin-bottom: -3rem;
}

.logo {
    margin-bottom: .3rem;
    align-self: center;
    justify-self: center;
    padding-right: 1rem;
    width: 25%;
}

.login-container{
    background-image: linear-gradient(65deg, #27763af5, #8ac448e5);  
    padding: 2rem;  
    padding-bottom: 1rem;
    border-radius: .8rem;
} 

.form-label{
    text-align: left; 
    color: white; 
    font-weight: 300; 
    border-left: solid 1px; 
    padding-left: .5rem;  
    margin-top: .6rem;
    
}  

.mb-4{
    text-align: center;
}

.btn.btn-primary{
    margin-top: 1rem; 
    width: 35%; 
    font-weight: 500;
    text-transform: uppercase;
}  

.btn.btn-primary.mb-3{
    margin-top: 1rem; 
    width:60%; 
    font-weight: 500; 
    text-transform: capitalize;
    background-image: linear-gradient(65deg, #27763af5, #8ac448e5);  
    border: none; 
} 

.btn.btn-primary.mb-4{
    background-image: linear-gradient(65deg, #27763af5, #8ac448e5);  
    text-transform: capitalize; 
    font-weight: 500;
    border: none;
    font-size: .8rem; 
    padding: 1rem; 
    text-align: left;
} 

.img-thumbnail.mb-3{
    width: 300px; 
    border-radius: .5rem; 
    border: none; 
    align-self: center; 
    justify-content: center; 
    margin: .2rem;
} 

.row.mt-5 {

    padding-top: 0;
    padding: 3vh;
} 

.area {
    background-color: #eee; 
    border-radius: .8rem;
    padding: 3rem; 
    margin-top: 1rem;   
    text-align: center;
} 
 
.log{
    color: white; 
    margin-left: 5rem; 
    text-decoration: none; 
    border: solid 1px;  
    border-radius: .3rem;
    padding: .2rem;
} 


.fa-solid.fa-delete-left, .fa-solid.fa-upload {
    color: #eee;
    border-radius: .5rem;
    border: none;
    background-image: linear-gradient(65deg, #27763af5, #8ac448e5);  
    padding: .8rem; 
    margin-left: .5rem;
} 

.fas.fa-download {
    background-color: #77777760; 
    padding: .5rem; 
    border-radius: 1rem;  
    margin-left: -3rem;
    color: white; 
    position: absolute; 
    margin-top: 25px;
    
}    
.fas.fa-download:hover{
    background-color: #777777; 
    padding: .5rem; 
    border-radius: 1rem;  
    margin-left: -3rem;
    color: white; 
    position: absolute; 
    margin-top: 25px; 
    transition: all ease-in-out .2s;
    
}    

.btn.btn-outline-dark {
    margin-top: .5rem; 
    margin-bottom: 1rem;
} 

.col-md-7{
    text-align: center; 
    align-self: center; 
} 
.row.mt-3{
    text-align: center;
    align-self: center;
    justify-content: center;
} 

.form-control.password {
    padding: .5rem; 
    height: 100%;
    
} 

.btn.btn-outline-dark.toggle-password {
    
    height: 100%;
    padding: .5rem; 
    margin-top: -.1rem;
}